<div class="password-field">
  <label class="password-field__label" [for]="inputId">{{ label() }}</label>

  <div class="password-field__wrapper">
    <tui-textfield class="password-field__textfield">
      <input
        [id]="inputId"
        [type]="visible() ? 'text' : 'password'"
        [autocomplete]="autocomplete()"
        [formControl]="control()"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (input)="onInput()"
      />
    </tui-textfield>

    <button
      appearance="flat"
      size="s"
      tuiButton
      type="button"
      class="password-field__toggle"
      (click)="toggleVisibility()"
      [attr.aria-label]="visible() ? hidePasswordAriaLabel : showPasswordAriaLabel"
    >
      @if (visible()) {
        <span i18n="@@auth.passwordField.hide">Скрыть</span>
      } @else {
        <span i18n="@@auth.passwordField.show">Показать</span>
      }
    </button>
  </div>
</div>