<div class="password-field">
  <label class="password-field__label" [for]="inputId">{{ label() }}</label>

  <tui-textfield>
    <input
      [id]="inputId"
      [type]="visible() ? 'text' : 'password'"
      [autocomplete]="autocomplete()"
      [formControl]="control()"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (input)="onInput()"
    />

    <button
      appearance="flat"
      size="s"
      tuiButton
      type="button"
      class="password-field__toggle"
      (click)="toggleVisibility()"
      [attr.aria-label]="visible() ? hidePasswordAriaLabel : showPasswordAriaLabel"
    >
      @if (visible()) {
        <span i18n="@@auth.passwordField.hide">Скрыть</span>
      } @else {
        <span i18n="@@auth.passwordField.show">Показать</span>
      }
    </button>
  </tui-textfield>
</div>